*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/dictionaries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/vendor

# fastlane specific
/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output


